
@mixin header-footer{
  height: $h-header-footer;
  background-color: $top-bottom;
  border: 1px solid black;
}
@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin fixed-top{
  position: fixed;
  top: 0;
  left: 0;
}
