
header{
  @include header-footer;
  @include flex-center;
  flex-direction: column;
    nav{
      @include flex-center;
      @include fixed-top;
      height:$h-nav;
      width: 100%;
      background-color: lightblue;
    }

}
