
header{
  @include header-footer;
  @include flex-center;
  flex-direction: column;
    nav{
      @include flex-center;
      height: 125px;
      width: 100%;
      background-color: lightblue;
    }

}
